h1 {
  font-size: 300%;
}

html {
  min-height: 100%;
  overflow: hidden;
}
.list a:hover {
  color: #f0860c;
}
body {
  background: #6792ca;
  color: #ecf4ff;
  margin: 0 auto;

  background: url("code.jpg") no-repeat right center;
  background-position: right 100px center;
  background-attachment: fixed;
}
.pp {
  text-align: center;
}
.header img {
  float: right;
  width: 50px;
  height: 50px;
  background: #555;
}
.header2 img {
  float: right;
  width: 70px;
  height: 45px;
  background: #555;
}
.header3 img {
  float: right;
  width: 60px;
  height: 60px;
  background: #555;
  vertical-align: bottom;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}


@media screen and (max-width: 767px)

.in {
   margin-top: 0;
    padding: 10px 20px 60px;
}
@media screen and (max-width: 991px)

.in{
   margin-top: 0;
   padding-right: 25%;
    padding-left: 50px;
}
.in {
   margin-top: 0;
    padding: 70px 45% 70px 100px;
    background-image: none;
}
